<link rel="preconnect" href="https://img.holger.one/" crossorigin />
<link rel="dns-prefetch" href="https://img.holger.one/" />
<link rel="preconnect" href="https://cdn.holger.one/" crossorigin />
<link rel="dns-prefetch" href="https://cdn.holger.one/" />
<link rel="preconnect" href="https://report.dragoncloud.win/" crossorigin />
<link rel="dns-prefetch" href="https://report.dragoncloud.win/" />

<script defer src="/_vercel/speed-insights/script.js"></script>

{{ $noindex_types := slice "taxonomy" "term" }}
{{ if in $noindex_types .Kind }}
  <meta name="robots" content="noindex">
{{ end }}

<!-- Matomo 
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDomains", ["*.holger.one"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.yingmoy.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://matomo.yingmoy.com/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<script>
  window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
</script>
 End Matomo Code -->