<article
  class="{{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }} flex flex-col items-center justify-center text-center"
>
  {{ partial "profile.html" }}
  <section class="max-w-prose mb-3">
    <h2 class="mt-8 text-2xl font-extrabold">{{ i18n "shortcode.recent_articles" | emojify }}</h2>
    {{ range first .Site.Params.homepage.recentLimit (.Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) .Site.Params.homepage.recentLimit).Pages }}
      {{ partial "article-link.html" . }}
    {{ end }}
    {{ if gt (len ( where .Site.RegularPages "Type" "in" .Site.Params.mainSections)) .Site.Params.homepage.recentLimit}}
      <div class="mt-4">
        <a class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2 font-medium" href="/posts">{{ i18n "components.read_more" | emojify }} →</span>
      </div>
    {{ end }}
  </section>
</article>